img {
    width: 100px;
    height: 100px;
}
h1 {
    color: rgb(12, 184, 67);
    font-size: 36px;
}
div.mycontainer {
    width: 100%;
    overflow: auto;
}

div.mycontainer div {
    font-size: 14px;
    width:33%;
    float: left;
}