img {
    width: 100px;
    height: 100px;
}
h1 {
    color: rgb(15, 15, 15);
    font-size: 36px;
}
section{
    width: 100%;
    background-color: rgb(222, 227, 230);
    padding: 10px;
}
div.mycontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

div.mycontainer div {
    font-size: 14px;
    width:33%;
    flex: 1;
}
#test{
    color: red;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: white;
}

.header h1{
    margin: 0;
}

.header ul{
    list-style-type: none;
    padding: 0;
    background-color: white;
    display: flex;
    gap: 20px;
    margin: 10px 0 0 0;
}
.header ul li a{
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-weight: normal;
}
form{
    margin-top: 20px;
}
form input[type="text"], form input[type="password"]{
    padding: 5px;
    margin: 5px 0;              
    width: 200px;
}
form input[type="submit"]{
    padding: 5px 10px;                  
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover{                    
    background-color: rgb(0, 90, 190);
}